 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');
:root{
	--primary: rgb(142,192,124);
	--secondary: rgb(131,165,155);

	--black: #0e0e0e;
	--black-200: #202020;

	--white: rgb(251,241,199);
	--white-choco: rgb(235,219,178);

	--red: rgb(251,57,52);
	--orange: rgb(254,128,25);
	--nord-blue: rgb(122,172,172);
	--green: rgb(142,199,12);

}
*, 
*::before, 
*::after{
	box-sizing: border-box;
}
*{
	margin: 0;
	padding: 0;
	font: inherit;
}
body{
	font-family: 'Poppins', sans-serif;
	height: 100%;
}
li{
	list-style: none
}
a{
	text-decoration: none;
	color: inherit;
}
img{
	width: 100%
}
header{
	padding: 12px;
}
header nav{
	display: flex;
	justify-content: space-between;
}
header nav ul{
	display: flex;
	align-items: center;
}

header nav,
header nav ul{
	align-items: center;
}
header h1 span{
	margin-left: 6px;
	font-weight: 200;
	border-radius: 6px;
}
header,
aside{
	background-color: var(--black);
	color: var(--white-choco);
}
main{
	background: linear-gradient(180deg, #fff 60%, rgb(242,246,252));
	display: flex;
}
main aside{
	font-size: 12px;
	min-height: 100vh;
	width: 8.5rem;
}
main aside ul:nth-child(n) li a{
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 12px 0;
}
aside li:nth-child(n){
	margin: 8px;
	cursor: pointer;
}
table{
	min-width: 0 !important;
	border-collapse: collapse;
}
footer{
	background-color: var(--black);
	color: var(--white);
	text-align: center;
	padding: 1rem;
}.img-profile{
	object-fit: cover;
	border-radius: 50%;
	width: 2rem;
	height: 2rem;
	margin-right: 6px;
	display: block;
}
.burger{
	display: inline-block;
	font-size: 1.4rem;
	position: relative;
	border-radius: 50%;
	border: solid 2px var(--black);
	padding: 4px 10px;
	cursor: pointer;
}
.burger:hover{
	border-radius: 50%;
	background-color: var(--black-200);
	border: solid 2px var(--black-200);
}
.burger:active{
	background-color: var(--black);
	border: solid 2px #eee;
}
.sidebar-toggled{
	width: 0;
	overflow: hidden;
}
.lnk-active{
	background-color: var(--primary);
	color: var(--white);
	border-radius: 5px;
	/* padding: 4px 0; */
	/*pointer-events: none;*/
}
.lnk-active-group{
	background-color: var(--black-200);
	border-radius: 5px;
}
.link-group{
	position: relative;
}
.hide{
	display: none;
}
.lg-show{
	border: solid 1px #aaa;
	border-radius: 5px;
	box-shadow: 0 0 10px var(--black-200);
	background-color: #fff;
	color: var(--black);
	width: 180px;
	top: 0;
	right: -6rem;
	transform: translateX(50%);
	position: absolute;
	z-index: 1;
}
.lg-show a{
	align-items: start !important;
	padding-left: 2px !important;
}
.lg-show .lg-child{
	padding: 8px;
}
.lg-show li:hover{
	background-color: #ddd;
	border-radius: 5px;
}
.lg-header{
	/*border: solid 1px red;*/
	color: #6a6464;
	font-size: 10px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	pointer-events: none;
}
.main-content{
	width: 100%;
}
.main-content .header-db{
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}
.main-content .header-db h1{
	font-size: 1.3rem;
	margin-bottom: 6px;
}
.main-content .header-db .breadcumb ol{
	display: flex;
}
.main-content .header-db .breadcumb ol li:nth-child(n+1){
	font-size: 12px;
	margin-right: 2px;
}
.main-content .header-db .breadcumb ol li:nth-child(n+1) a{
	color: var(--secondary);
}
.main-content .header-db .breadcumb ol li:nth-child(n+1) a:hover{
	text-decoration: underline; 
}
.main-content .header-db .breadcumb ol li span:nth-child(n+1){
	display: inline-block;
}
.dashboard-content,
.content-wrapper{
	padding: 15px;
}
.dashboard-content .container {
	display: flex;
	flex-wrap: wrap;
}
.dashboard-content .container .card-wrapper{
	width: 100%;
}
.dashboard-content .container .card-wrapper .card{
	box-shadow: 0 0 5px #aaa;
	border-radius: 5px;
	margin-bottom: 1rem;
	/*width: 100%;*/
}
.dashboard-content .container .card-wrapper:first-child .card{
	border: solid 1px rgb(204, 35, 31);
	background-color: var(--red);
}
.dashboard-content .container .card-wrapper:first-child .card .footer-card{
	border-top: solid 1px rgb(204, 35, 31);
}
.dashboard-content .container .card-wrapper:nth-child(2) .card{
	background-color: var(--orange);
	border: solid 1px rgb(215, 98, 2);
}
.dashboard-content .container .card-wrapper:nth-child(2) .card .footer-card{
	border-top: solid 1px rgb(215, 98, 2);
}
.dashboard-content .container .card-wrapper:nth-child(3) .card{
	background-color: var(--nord-blue);
	border: solid 1px rgb(98, 149, 149);
}
.dashboard-content .container .card-wrapper:nth-child(3) .card .footer-card{
	border-top: solid 1px rgb(98, 149, 149);
}
.dashboard-content .container .card-wrapper:nth-child(4) .card{
	background-color: var(--green);
	border: solid 1px rgb(118, 166, 10);
}
.dashboard-content .container .card-wrapper:nth-child(4) .card .footer-card{
	border-top: solid 1px rgb(118, 166, 10);
}
.dashboard-content .container .card *{
	color: var(--white);
}
.dashboard-content .container .card .header-card{
	padding: 12px;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}
.dashboard-content .container .card .header-card span{
	font-size: 1.5rem;
}
.dashboard-content .container .card .footer-card{
	padding: 12px;
	border-top: solid 1px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.table-wrapper{
	border: solid 1px #aaa;
	box-shadow: 0 0 5px #aaa;
	border-radius: 5px;
	/*margin: 12px;*/
}
.table-wrapper .header-table{
	background-color: #fff;
	padding: 1rem 12px;
}
.header-table a{
	border: solid 1px rgb(118, 166, 10);
	background-color: var(--green);
	color: #fff;
	border-radius: 5px;
	padding: 6px 12px;
	font-size: 14px;
}
.header-table a:active{
	background-color: rgb(118, 166, 10);
}
.body-table{
	width: 100%;
}
.body-table th{
	border-top: solid 1px #ddd;
	border-bottom: solid 1px #ddd;
	background-color: #eee;
	padding: 6px 1rem;
}
.body-table td{
	padding: 6px 1rem;

}
.body-table tbody td:nth-child(6){
	text-align: center;
	padding: 6px 0;
	position: relative;
}
.body-table tbody td:nth-child(6) span{
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	border: solid 1px rgb(204, 35, 31);
	border-radius: 15px;
	background-color: var(--red);
	color: var(--white);
	font-size: 10px;
	padding: 6px;
	left: 0;
	transform: translate(8%, -50%);
	margin: 0 auto;
	position: absolute;
}
.body-table tbody td:last-child{
	position: relative;
}
.action-group-tbl{
	background-color: #fff;
	border: solid 1px #aaa;
	border-radius: 5px;
	/*display: none;*/
	flex-direction: column;
	right: 0;
	position: absolute;
	transform: translate(-30%, -30%);
	width: 7rem;
	z-index: 1;
}
.action-group-tbl a:first-child{
	margin-bottom: 0;
}
.action-group-tbl a{
	border: solid 1px #fff;
	color: var(--black);
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
}
.action-group-tbl a:hover{
	border: solid 1px #eee;
	background-color: #eee;
}
.action-group-tbl a:active{
	color: var(--white);
}
.action-group-tbl a span{
	margin-right: 5px;	
}
#action-tbl{
	cursor: pointer;
}

/*login*/
.login-manager-wrapper{
	display: flex;
	flex-direction: column;
	/*align-items: center;*/
	padding: 1rem;
	height: 100vh;
	justify-content: center;
}
.login-manager-wrapper span, 
.login-manager-wrapper h1, 
.login-manager-wrapper p{
	color: #2e2e2e;
}
.login-manager-wrapper span{
	position: absolute;
	top: 0;
	left: 0;
	font-size: 1.5rem;
	margin-left: 1rem;
	margin-top: 1rem;
}
.login-manager-wrapper h1{
	font-size: 1.4rem;
	margin-bottom: 12px;
}
.login-manager-wrapper .container{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.login-manager-wrapper .container:nth-child(n+1) *{
	margin: 6px 0;

}
.login-manager-wrapper .container:last-child{
	font-size: 12px;
	display: flex;
	flex-direction: row;
}
.login-manager-wrapper .container:last-child a{
	margin-left: 4px;
	color: var(--primary);
}
.login-manager-wrapper .container input{
	border-radius: 25px;
	border: solid 1px var(--primary);
	transition:0.4s ease;
	padding: 6px 1rem;
}
.login-manager-wrapper .container input:focus{
	outline: solid 1px rgb(118, 166, 10);
}
.login-manager-wrapper .container button{
	border: solid 1px rgb(118, 166, 10);
	background-color: var(--primary); 
	color: var(--white);
	border-radius: 25px;
	padding: 8px;
	text-transform: uppercase;
	cursor: pointer;
}
.login-manager-wrapper .container button:active{
	background-color: rgb(162, 202, 148);
	color: var(--white-choco);
}
@media only screen and (min-width: 600px){
	
	table thead th:first-child,
	table tbody td:first-child{
		width: 10%
	}
	table thead th:nth-child(3),
	table tbody td:nth-child(3){
		width: 5%
	}
	table thead th:nth-child(6),
	table tbody td:nth-child(6){
		width: 35%
	}
	table thead th,
	table tbody td{
		width: 50%;
		max-height: 1.5rem
	}
	.main-content .header-db{
		padding: 5px;
	}
	.main-content .dashboard-content .container .card-wrapper{
		max-width: 50%;
		padding-left: 5px;
		padding-right: 5px;
		/*margin-bottom: 0;*/
	}
	.main-content .dashboard-content .container .card-wrapper .card{
		margin-bottom: 12px;
	}

}
@media only screen and (min-width: 800px){
	
	main aside{
		width: 15rem;
	}
	main aside ul:nth-child(n) li a{
		font-size: 14px;
		flex-direction: row;
		align-items: center;
		padding: 12px;
	}
	main aside ul:nth-child(n) li a span{
		margin-right: 12px;
	}
	.lnk-active{
		padding: 0;
	}

	.main-content .header-db{
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
	.main-content .header-db h1{
		margin-bottom: 0;
	}
}
@media only screen and (min-width: 1200px){
	
	.main-content .dashboard-content .container .card-wrapper{
		width: 25%;
	}

}